@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-txt-color: #363D40;
    --secondary-txt-color: #2C3437; 
    --team-color: #4E525D;
}

.navbar{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}

nav::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #e7eaec;
}

.navbar img{
    width: 4%;
    height: 4%;
    border-radius: 50%;
    margin-left: 5%;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    text-align: center;
}


.navbar li{
    margin-right: 10%;
    padding: 0px 20px;
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    color: var(--team-color);
    text-align: center;
    padding: 0px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: 600;
    transition: 0.1s;
}

.navbar li a:hover{
    color: #4E525D;
    font-weight: 800;
}
